@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
        margin: 0;
        padding: 0;
        height: 100%; 
        overflow: hidden;
        background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(6) rotate(60)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(224, 48%, 16%, 1)'/><path d='M0 0h10v10H0z'  stroke-width='1' stroke='none' fill='hsla(205, 48%, 16%, 1)'/><path d='M10 10h10v10H10z'  stroke-width='1' stroke='none' fill='hsla(205, 48%, 16%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
        font-size: calc(15px + 0.390625vw);
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: "frames";
        text-decoration: none;
        cursor: url(assets/cursor.cur) , auto !important;
}

.logo{
        color: #ff00b3;
        text-align: center;
        font-size: 2.75rem;
        text-shadow: 0 0 8px #000000;
        padding-top: 0;
   
}

.inbetween{
        color: #ffb300;
}

.frames {
        font-family: "frames";
      }


a{
        text-decoration: none !important;
        /* color: #ffb300 !important; */

}
.versionavec {
        font-family: "versionavec";
        font-weight: bolder;
      }

.styling{
        padding: .25rem .25rem .25rem .25rem !important;
        color: #ffb300;
        border: #ffb300 1px solid;
        border-radius: 500px;
        padding: .75rem 1rem .75rem 1rem !important;
        
}

.styling:hover{
        color: #ff00b3 !important;
        border: #ff00b3 solid 1px;
}
.version{
        font-family: "version";
        font-weight: bolder;
}

.introdiv{
        background-color: black;
        border: #ff00b3 solid 1px;
        color: #ff00b3;
        margin:auto;
        width: 30rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;
        margin-top:1rem;
        padding: 1rem;
        
        font-weight: bolder;
        font-size: larger;

}

@media (max-width : 768px ){ 
        .introdiv{
                width:20em;
        }
        .flex-row{
                right: 21% !important;
        }
       
}

@media (min-width : 768px ){ 
        

}

.cred{
        color: #ff00b3 !important;
}

.cred:hover{
        color: #ffb300 !important;
}

.text span {
   opacity: 0;
}
.text span.revealed {
   opacity: 1;
}
.text span.green {
   color: #27ae60;
}
.text span.red {
   color: #ff0000;
}

.flex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

.flex-row{
        
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        margin-bottom: .75rem;
        color: #ff00b3 !important;
        position: fixed;
        bottom: 0;
        right: 0;
}



.credit{
        margin: .5rem;
        text-decoration: none;

}

.button:hover{
        color: #ff00b3;
        border: #ff00b3 solid 1px;
        
}

.button{
        background-color: black;
        border: #ffb300 solid 1px;
        color: #ffb300;
        margin: 0;
        padding: 1rem;
        text-decoration: none;
}


.playlist{
        width: 14em;



}
@font-face {
        font-family: frames;
        src: url(assets/FramesPartOne-Medium.otf);
      }

@font-face {
        font-family: versionavec;
        src: url(assets/Version_0.4_10_skeletor_avec.ttf);
      }

@font-face {
        font-family: version;
        src: url(assets/Version_0.1_10_skeletor.ttf);
      }
      

.logo:hover {
        -webkit-animation-name: wiggle;
        -webkit-animation-duration: 2000ms;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in-out;
      }
      
      @-webkit-keyframes wiggle {
        0% {-webkit-transform: rotate(5deg);}
        25% {-webkit-transform: rotate(-5deg);}
        50% {-webkit-transform: rotate(10deg);}
        75% {-webkit-transform: rotate(-2.5deg);}
        100% {-webkit-transform: rotate(0deg);}
      }
      
      @keyframes wiggle {
        0% {transform: rotate(5deg);}
        25% {transform: rotate(-5deg);}
        50% {transform: rotate(10deg);}
        75% {transform: rotate(-2.5deg);}
        100% {transform: rotate(0deg);}
      }
